*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-family: 'Cairo', sans-serif;
  }
  body{
    direction: rtl;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(120deg,#2980b9, #6198cc);
  }
  
.infinity{
    position:relative;
    right: 700px;
    bottom: 145px;
    height: 100px ;
    width:212px ;
    box-sizing: border-box;
}

    .infinity:before,
    .infinity:after {
      content: '';
      box-sizing: content-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      border: 20px solid rgba(255, 255, 255, 0.747);
      border-radius: 50px 50px 0 50px;
      transform: rotate(-45deg);
    }
    .infinity:after{
            left: auto;
            right: 0;
            border-radius: 50px 50px 50px 0;
            transform: rotate(45deg);
            border: 20px solid #ffffff80;

    }
    .tex1{
      position: absolute;
      top:140px;
      right:80px;
      font-size: 35px;
      color: #fff;
    }
    .tex2{
      position: absolute;
      top:200px;
      right:170px;
      font-size: 35px;
      color: #fff;
    }


  .container{
    text-align: center;
    margin-top: 60px;
    padding-left: 260px;
  }

  .btn{
    border: 3px solid white;
    border-radius: 8px;
    background-color: white;
    padding: 30px 25px;
    font-size: 20px;
    cursor:pointer;
    margin: 10px;
    
}

.btn1{
    color: #3498bd;
}

.btn2{
    color: #3498bd;
}

.btn:hover{
  color: white;
background-color: #297fb92f;
}
